@font-face {
    font-family: 'newfont';
    /* src:url(../../fonts/JosefinSans-VariableFont_wght.ttf)  */
    src:url(../../fonts/JosefinSans-VariableFont_wght.ttf) 
  } 
.container{
    background-color: rgb(229, 255, 246);
    width: 100vw;
    height: 100vh;
}

.sidebar{
    font-family: 'newfont';
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    width: 300px;
    /* gap: 2rem; */
    position: fixed;
    height: 100vh;
    background-color: white;
}
.img-container img{
    margin-top: 3rem;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.sidebar-menus{
    
}
.sidebar-menus .menu-container{
    margin: 3rem 0;
    display: flex;
    padding: 0.3rem 0;
    gap: 2rem;
    /* align-items: center; */
    /* justify-content: space-between; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.185);
}