.container{
    background-color: rgb(229, 255, 246);
    width: 100vw;
    height: 100vh;
}

.sidebar{
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    width: 300px;
    gap: 2rem;
    position: fixed;
    height: 100vh;
    background-color: white;
}
.img-container img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}
.sidebar-menus .menu-container{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}