@font-face {
    font-family: 'newfont';
    /* src:url(../../fonts/JosefinSans-VariableFont_wght.ttf)  */
    src:url(../../fonts/JosefinSans-VariableFont_wght.ttf) 
  } 
 
.blog-container{
    font-family: 'newfont';
    width: 800px;
    display: flex;
    align-items: center;
    background-color: antiquewhite;
    gap: 1rem;
}
.img-container img{
    border-radius: 5px;
    margin: 1.3rem;
    width: 200px;
    height: 200px;
    background-color: brown;
}
.content-container p,h3{
    padding: 2rem;  
    padding-top: 0;
}
.content-container ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.3rem
}
.content-container ul button{
    font-size: 1.6rem;
    background-color: inherit;
    border: none;
}
.content-container ul button span{
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.63);
}