.blog-container{
    width: 400px;
}
.img-container img{
    width: 400px;
}
.content-container{

}
.btn-container ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}