@font-face {
    font-family: 'newfont';
    /* src:url(../../fonts/JosefinSans-VariableFont_wght.ttf)  */
    src:url(../../fonts/JosefinSans-VariableFont_wght.ttf) 
  } 
 
*{
    margin: 0;
    padding: 0;
}
.blog-container{
    font-family: 'newfont';
    width: 800px;
    display: flex;
    align-items: center;
    background-color: rgb(233, 233, 233);
    gap: 1rem;
}
.img-container img{
    border-radius: 5px;
    margin: 1.3rem;
    width: 200px;
    height: 200px;
    background-color: brown;
}
.content-container p,h3{
    padding: 2rem;  
    padding-top: 0;
}
.content-container ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem
}
.content-container ul .btn-wrapper{
    display: flex;
    background-color: blue;
    /* justify-content: center; */
    align-items: center;
}
.content-container ul .btn-wrapper button{
    font-size: 1.3rem;
    background-color: inherit;
    background-color: blueviolet;
    border: none;
}
.content-container ul .btn-wrapper p{
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.63);
}