.following-card{
    width: 300px;
    background:linear-gradient(to right top , #ecfbfd,rgb(240, 249, 255));
    /* filter: blur(1px); */
    display: flex;
    padding: 0.4rem 1.5rem;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    
}
.profile-pic-fol{
    width: 70px;
    height: 70px;
    border-radius:35px;
}
.menu-container{
    padding-top: 5rem;
}
/* .following-content{
    padding-top: 2rem;
} */
.following-content p:first-child{
    color: rgba(12, 12, 12, 0.801);
}
.following-content p:last-child{
    color: rgba(12, 12, 12, 0.404);
}