
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}
.newone{
    overflow: hidden;
    width: 100vw;
    /* height: 100vh; */
    aspect-ratio: 960/600;
    background-image: url('../public/wave-haikei\ \(1\).svg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}